.Resources__Section {
    align-items: center;
    background-color: var(--background2);
    border: solid thin var(--border1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding-block: 1.5rem;
    padding-inline: 10%;
    width: 80%;
}

.Resources__Title {
    background: var(--background1);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding-block: 0.2rem;
    text-align: center;
    width: 100%;
}

.Resources__Total {
    border: solid thin var(--border1);
    font-size: 1.8rem;
    padding-block: 0.5rem;
    text-align: center;
    width: 20%;
}

.Resources__Wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Resources__Label {
    background: var(--background1);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    padding-block: 0.2rem;
    text-align: center;
    width: 100%;
}

.Resources__Supplies {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Resources__Button {
    background-color: var(--background1);
    border: solid thin var(--border1);
    font-size: 1.3rem;
    padding: 0rem;
    width: 25%;
}

.Resources__Button:active {
    filter: brightness(115%);
}

.Resources__Amount {
    font-size: 1.3rem;
}

@media only screen and (min-width: 768px) {
    .Resources__Section {
        padding-inline: 0px;
        width: 100%
    }
    .Resources__Button {
        margin-inline: 2.5%;
    }
}